body{
    text-align: center;
    margin:0;
    font-family: 'Merriweather', serif;
}
h1{
    color:#66BFBF;
    font-size: 5.625rem;
    margin-top:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    font-weight:normal;
}
h3{
    color:#66BFBF;
    font-size:2.5rem;
    font-weight:normal;
    font-family: 'Montserrat', sans-serif;
}
.Top-container{
    background-color: #C9EEFF;
    padding: 100px;
}
.xyz{
    height:550px;
    
}
.image{
    height:70px;
    position: absolute;
    left:150px;
    top:50px;
    border-radius: 50%;
}
.s1{
    width:25%;
    float:left;
    margin-right: 30px;
}
.s2{
    width:20%;
    float:right;
    margin-left:30px;
}
#p1{
    width:150px;
    height:150px;
    border-radius: 50%;
    padding:10px;
}
.I1{
    width:50px;
    height:50px;
    margin:auto;
}
.F1{
    width:50px;
    height:50px;
    border-radius: 100%;
    border-width: 100%;
    margin:auto;
}
.G1{
    width:50px;
    height:50px;
    border-radius: 100%;
    border-width: 100%;
    margin:auto;
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.hr{
    border: 1px dotted red;
}
.k1{
    color:red;
}
hr{
    border-style:none;
    border-top-style:dotted;
    border-color:gray;
    border-width:5px;
    width:5%;
   }
.flex-container{
    display:flex;
    padding-left:45%;
}
.d1,.d2,.d3{
padding-left:8px;
}